.words {
	text-align: center; vertical-align: middle; font-family:
                    arial; border:1px solid whitesmoke;
}
.text1 {
	font-size: 20px;
}
.text2 {
	font-size: 40px;
}
.text3 {
	font-size: 60px;
}
.text4 {
	font-size: 80px;
}
.text5 {
	font-size: 100px;
}